
language: php
sudo: false
branches:
  only:
  - master
  - staging
cache:
  directories:
  - "$HOME/.composer/cache"
php:
    - 5.6
    - 7.1
before_install: 
  - "cd php-lib/SwaggerClient-php"
  - "composer install"
script: "vendor/bin/phpunit"

# notifications:
#   slack:
#     secure: vJJhULNoaV7QYMSQzAqAXqhTRyByvHo7NzIz/TzhuidbzQHwkpm4R848rto8l8ZlHBQLHj1Ra0qx4TAjacfw9fystEkaK1IuGDAU7HPoxL3SqF2DnsnddDCIHWgCb0smzHF1sq2MCyCM7wPvivimjv0oS2tBkW62Olip6xjt9bbd7CvJNTftEPma5RYJDLEnA+5Ap0ePh5BFEjksj1DGMAi1VPNoqLWK1v9vgBmMzZNFV34GTkc+FGurFRiD3lE8XdE5sXBr0e8zYy+hmTMUVEo2uKZlGffLtHySi3gmXx8rNQkXBKRsG15XvoiFGkiJC4g/iwTO3IVi9z7q09tC8CYz3+V+zUcYBlQMRkPyoIFsXueOP8FMaSyBgxmChHVKproYexrxyMLHzcU5g6IboSXLHcq0HzTGLEDDYYsno2lHENKk00PBvFVCM2D5WWc3zlHTEgxvysaDu2bx4MInE+OP2AlOaA95nq6XLeWrcpf6XNxWipCFa2nECSzuLAM9N7pp2EmyI8c1eG7rHI6dhcxCrYav2C2oMCdzFx3Pqi+OEXay9CJoEwRfKh2BLIRP2NXBqjKXATpWACzSANnuo8TmeXDshBp+dNd2XFZhJmdtKsfjyvTJYJtkjLldms+yVIEnKeCaxdI0K64sO+Hm6NFB60GY2hPoLv+kmQ0YR3Y=
